<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" IgnorableNamespaces="uap uap3 rescap mp">

  <Identity Name="JonahFintzDEV.CommandPalette-RandomDataGenerator" Publisher="CN=240FD63B-E96D-4F79-A6D2-BFC6E6AD6C10" Version="1.0.0.0" />
  <!-- When you're ready to publish your extension, you'll need to change the Publisher= to match your own identity -->

  <Properties>
    <DisplayName>Command Palette - Random Data Generator</DisplayName>
    <PublisherDisplayName>Jonah Fintz DEV</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="Command Palette - Random Data Generator" Description="Command Palette - Random Data Generator" BackgroundColor="transparent" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="CmdPal - Random Data Generator"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png"/>
      </uap:VisualElements>
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="CommandPaletteRandomDataGenerator.exe" Arguments="-RegisterProcessAsComServer" DisplayName="Command Palette - Random Data Generator">
              <com:Class Id="3a2b9f27-1cb1-4f57-b1a0-3e39971b972d" DisplayName="Command Palette - Random Data Generator" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.commandpalette" Id="ID" PublicFolder="Public" DisplayName="Command Palette - Random Data Generator" Description="Command Palette - Random Data Generator">
            <uap3:Properties>
              <CmdPalProvider>
                <Activation>
                  <CreateInstance ClassId="3a2b9f27-1cb1-4f57-b1a0-3e39971b972d" />
                </Activation>
                <SupportedInterfaces>
                  <Commands/>
                </SupportedInterfaces>
              </CmdPalProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
